{% extends 'Project/main.html' %}

{% block title %}
Profile
{% endblock %}

{% block header %}

Welcome {{ user }}!

{% endblock %}

{% block subheader %}
Edit your profile
{% endblock %}

{% block content %}
<section class="mt-2 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a href="{% url 'avatar-edit' %}"><img src="{{ user.avatar.image.url }}" class="rounded-circle" height="200px" width="200px" alt=""></a>
                
                <form class="m-4" action="" method="POST">
                    {% csrf_token %}
                    <table class="d-flex justify-content-center">
                        {{ form.as_table }}
                    </table>
                    <input class="btn btn-outline-dark m-2" type="submit" value="Confirm">
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock %}