{% extends 'main.html' %}

{% block title %}
About
{% endblock %}

{% block header %}
About Me
{% endblock %}

{% block subheader %}
See a brief description about me
{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://avatars.githubusercontent.com/u/107637388?s=400&u=ec12244b817f3a4823af2518d7e32cfa918eab9f&v=4"alt="Cristian" /></div>

            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">Cristian Murua</h1>
                <div class="fs-1 mb-5">
                    <strong><span style="color: rgb(28, 0, 128);">Full Stack Developer</span></strong>
                    
                </div>
                <p class="lead">I am a Full Stack Developer with the beginning of studies on Programming during the pandemic. With ease and preference to teamwork. Fluency in Express and React. Great predisposition for continuous learning and ambition for personal improvement.
                    I am currently still learning Python to add to my stack and achive my goal of expanding my knowledge of the language (English: intermediate, German: intermediate).
                    </p>
                    <div class="small m-2">                    <strong> Programming Lenguage: </strong> -JavaScript. TypeScript, Python <br>
                        <strong> Web Technology: </strong> -HTML5, -CSS3 (.less, bootstrap, material UI), -Django <br>
                        <strong> Web Server: </strong> -NodeJS, -Express <br>
                        <strong> Database: </strong> -PostgreSQL, -Firebase, -Sequelize (ORM) <br>
                        <strong> Framework: </strong> -ReactJS, -Redux, -Redux Toolkit <br>
                        <strong> Project Management: </strong> -Trello, -Slack <br>
                        <strong> Processes: </strong> -Scrum <br>
                        <strong> Version Control: </strong> -Git & GitHub</div>

        </div>
    </div>
</section>
{% endblock %}