{% extends 'main.html' %}

{% block title %}
My Products
{% endblock %}

{% block header %}
Delete Product
{% endblock %}

{% block subheader %}
Delete the Product selected
{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product.image.url }}" alt="{{ product.name }}" /></div>
            <div class="col-md-6">
                <div class="small mb-1">ID: {{ product.id }}</div>
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <div class="fs-1 mb-5">
                    <strong><span style="color: green;">$ {{ product.price }}</span></strong>
                    
                </div>
                <p class="lead">{{ product.description }}</p>
                <div class="d-flex">
                    <div class="small m-2">{{ product.location }}</div>
                    {% if product.available == True %}
                    <div class="small m-2">Available</div>
                    {% else %}
                    <div class="small m-2">Not Available</div>
                    {% endif %}
                </div>
                <p class="card-text"><small class="text-muted"> {{product.date}} </small></p>
            </div>
        </div>

        <hr>
        
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-5 fw-bolder">Delete Product</h1>
                <form method="POST">
                {% csrf_token %}
                    <p class="lead">Sure you want to delete {{ product.name }}?</p>
                    
                    <input class="btn btn-outline-danger mt-auto" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
        
    </div>
</section>


{% endblock %}