{% extends 'main.html' %}

{% block title %}
Details
{% endblock %}

{% block header %}
Product Detail
{% endblock %}

{% block subheader %}
See the complete info about the product
{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product.image.url }}" alt="{{ product.name }}" /></div>
            <div class="col-md-6">
                <div class="medium mb-2">Seller: {{ product.user.username }} 
                    <a class="btn btn-outline-dark" href="{% url 'accounts:user-detail' product.user.id %}">+ Info</a>
                </div>
                <div class="small mb-1">ID: {{ product.id }}</div>
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <div class="fs-1 mb-5">
                    <strong><span style="color: green;">$ {{ product.price }}</span></strong>
                    
                </div>
                <p class="lead">{{ product.description }}</p>
                <div class="d-flex">
                    <div class="small m-2">{{ product.location }}</div>
                    {% if product.available == True %}
                    <div class="small m-2">Available</div>
                    {% else %}
                    <div class="small m-2">Not Available</div>
                    {% endif %}
                </div>
                <p class="card-text"><small class="text-muted"> {{product.date}} </small></p>
            </div>
        </div>
        
    </div>
</section>

<!-- Comments -->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <!-- <div class="row gx-4 gx-lg-5 align-items-center">
           {% if product.comment_set.all %}
            {% for comment in product.comment_set.all %}
            <div class="media mb-2">

                {% if comment.user.avatar %}
                    <img class="d-flex mr-2 rounded-circle" width="50px" height="50px" src="{{ comment.user.image.url }}" alt="{{ user.username }}">
                {% else %}
                    <img class="d-flex mr-2 rounded-circle" src="avatars/blank.png" alt="">
                {% endif %}
    
                <div class="media-body">
                    <h5 class="mt-0">{{comment.user.username}}</h5>
                    {{comment.comment}}
                </div>
            </div>

            {% endfor %}
           {% endif %} 
        </div> -->
    
        
        <hr class="mt-2"/>
        
        <div class="mb-1 column comment-div border-0">
        {% for comment in product.get_comments %}
            <div id="{{ comment.id }}"class='d-flex justify-content-between col-12 p-0'>
            
           
                <span class="m-1">
                    {% if comment.user.username == product.user.username %}
                    <strong>{{ comment.user.username }} (Seller) : </strong> {{ comment.comment }}
                    {% else %}
                    <strong>{{ comment.user.username }} : </strong> {{ comment.comment }}
                    {% endif %}
                </span>
                <div>
                    <a
                    type="button"
                    data-comment="{{comment.id}}"
                    class="fs-8 text-reset like-button"
                    >
                    {% if user in comment.likes.all %}
                        <i class="bi-heart-fill text-danger"></i>
                    {% else%}
                        <i class="bi-heart"></i>
                    {% endif %}
                    </a>
                    <span class="fw-bold fs-8 px-1">{{comment.likes.all | length}}</span>
                    <span class="fw-bold fs-8 col-md-auto">Likes</span>
                </div>
            </div>
            {% endfor %}
        </div>
            
        
        <hr clas='border-0'/>
        <form class="row" id="comment_form">
                <div class="d-flex justify-content-center">
                {% if user.avatar.image %}
                <img
                src="{{user.avatar.image.url}}"
                class="mx-2 rounded-circle mt-2"
                height="40"
                width="40"
                alt=""
                loading="lazy"
                />
                {% else %}
                <img
                src="../media/avatar/blank.png"
                class="mx-2 rounded-circle mt-2"
                height="40"
                width="40"
                alt=""
                loading="lazy"
                />
                {% endif %}
                <input
                id="comment{{product.id}}"
                class="form-control  my-auto mx-2"
                placeholder="Comment..."
                />
                
                    <button
                    class="btn btn-outline-dark m-2 comment-button"
                    data-product="{{product.id}}"
                    type="submit"
                    >
                    Publish
                    </button>
                
                </div>
        </form>
    </div>
</section>


{% endblock %}